
@font-face {
    font-family: 'cursive_serifoblique';
    src: url('font/cursiveserif-webfont.woff2') format('woff2'),
         url('font/cursiveserif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

body {
	background-color: #3e3e3e;
	color: #f1f1ef;
	font-size: 18px;
	font-weight: bold;
	font-family: 'cursive_serifoblique';
}

.dropDown {
	background-color: #3e3e3e;
	padding: 16px;
    	font-size: 16px;
    	border: none;
    	cursor: pointer;
	visibility: hidden;
}

#logo {
	display: block;
	margin: auto;
}

#headDiv {
	width: 1000px;
	height: 180px;
	margin: auto;
	
	padding: 30px;
	background-color: #323e4a; 
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	border: solid #f1f1ef 10px;
	border-bottom: dashed #f1f1ef 10px;
	background-image: url("logofelt.png");
	background-position: center;
}

#navDiv {
	width: 1060px;
	height: 30px;
	margin: auto;
	
	padding: 5px 0px; /* 5px top and bottom, 0 left and right */
	background-color: #323e4a;
	border-bottom: solid #f1f1ef 10px;
	border-left: solid #f1f1ef 10px;
	border-right: solid #f1f1ef 10px;
	background-image: url("background-felt.png");
	background-position: center;
}

#navBar {
	text-align: center; 
	margin: auto;
	line-height: 28px;
	width: 1060px;
}

a:link {
	color: #f1f1ef;
	text-decoration: none;
}
a:visited {
	color: #f1f1ef;
	text-decoration: none;
}
a:hover {
	color: #f1f1ef;
	text-decoration: none;
}
a:active {
	color: #f1f1ef;
	text-decoration: none;
}

#gallery {
	width: 1060px;
	height: 300px;
	margin: auto;
	
	background-color: white;
	border-left: solid #f1f1ef 10px;
	border-right: solid #f1f1ef 10px;
	
	background-image: url("scroller.png");
	background-repeat: repeat-x;
	background-position: 0px center;
}

#mainDiv {
	width: 1000px;
	height: 800px;
	margin: auto;
	
	padding: 30px;
	background-color: #323e4a; 
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	border: solid #f1f1ef 10px;
	background-image: url("background-felt.png");
	background-position: center;
}
